<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Main</title>

    <!-- Latest compiled CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>
            <code>
                <span>Function</span>
            </code>
        </h2>

        <strong>TAGS:</strong>

        <span class="badge badge-primary">C++</span>
        <span class="badge badge-success">Function</span>
        <span class="badge badge-info">CppDoc</span>

        {% if obj.is_method %}
        <span class="badge badge-warning">Method</span>
        {% endif %}

        <hr>

        <h5>Description</h5>

        <div class="card mb-3">
            <div class="card-header">
                <code>
                    <span class="text-success">{{ obj.return_type }}</span>
                    <span class="text-primary">{{ obj.name }}</span>
                    <span>({{ obj.params }})</span>
                </code>
            </div>
            <div class="card-body text-dark">
                <div class="card-text">
                    <strong>C++</strong> function
                </div>
            </div>
            <div class="card-footer text-muted font-italic">
                <small>{{ obj.path }}:{{ obj.line }}</small>
            </div>
        </div>
    </div>
</body>

</html>
